.main form {
    display: inline-flex;
    flex-wrap: wrap;
    height: 50%;
    justify-content: center;
    align-content: center;
    flex-flow: column;
    row-gap: 10px;
    flex-wrap: wrap;
    margin-top: 10%;
}

/* .main div {} */